<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About Flask</title>
  </head>
  <body>
    {% extends "template.html" %}
    {% block content %}

    <h1> <div style="color:#098"> About Flask </div> </h1>
    <p> <div style="color:#098"> <font size=4> Flask is a micro web framework
      written in Python. </font> </div> </p>
    <p> <div style="color:#098"> <font size=4> Applications that use the Flask
      framework include Pinterest, LinkedIn, and the community web page for
      Flask itself. </font> </div> </p>
    <br>
    <p> <div style="color:#000098"> <font size=2> Pengfei Xu </font> </div> </p>

    {% endblock %}
  </body>
</html>
